	* {
			padding: 0;
			margin: 0;
			box-sizing: border-box;

		}
		.wrapper {
			width:64%;
			height: 100%;
			margin: 0 auto;
		}
		.header {
			background: #8c8c8c;
			color:#fff;
			height: 45px;
			font-size: 20px;
			align-items: center;
			font-family: sans-serif;
			display: flex;
		}
		.header span {
			margin-left:40px;
		}
		.content {
			display: flex;
			flex-direction: row;
		}
		.cont {
			width: 50%;
			padding:70px 10px 10px 40px;
			
		}
		.cont h1 {
			color:#8c8c8c;
			font-family: sans-serif;
			font-size: 42.6px;
		}
		.cont p:first-of-type {
			padding:24px 7px;
		}

		.cont p{
			text-align: justify-all;
			font-size: 15.4px;
			font-family: sans-serif;
			padding:5px 7px;
		}
		.right {
			padding:70px 10px;
		}
		img {
			width: 93%;
		}
		